body {
    background-image: linear-gradient( rgb(0, 217, 255), rgb(0, 68, 255));
}

#sign {
    margin-left: 48%;
    margin-top: 2%;
    font-size: xx-large;
    color: gold;
    }    

.button {
    background-color: gold;
}

td {
    padding: .5em;
}

a {
    color: gold;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-bottom: 1em;
    margin-left: 1em;
}

#buttons {
    margin-left: 50%;
    margin-right: 50%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

table {
    color: gold;
}

#myForm {
    margin-left: 40%;
}

#menu {
    margin-left: 47%;
    padding-top: 1em;
}


